#gym;  platform_machine!="armv6l" and platform_release!="6.1.63"
#shimmy; platform_machine!="armv6l" and platform_release!="6.1.63"
#gymnasium==0.29.1; platform_machine!="armv7l"
#shimmy==1.3.0; platform_machine!="armv7l"
gym==0.21.0
pigpio
gpiozero
pycryptodome
requests
PyYAML
scapy
tweepy
file-read-backwards
inky
smbus2
Pillow>=8.1.2
spidev
gast
flask==1.1.2
flask-cors
flask-wtf
dbus-python
toml
python-dateutil
python-prctl
websockets
jinja2==3.0.3
matplotlib
itsdangerous==1.1.0
werkzeug==2.0.0
# Neutralize Torch for your Kali branch (since you pre-install it)
# torch>=2.0.1; platform_machine=="armv7l"  <-- Comment this out or remove it
# torchvision>=0.15.2; platform_machine=="armv7l" <-- Comment this out

# Ensure NumPy doesn't break
numpy<2.0.0

# Add the Kali-specific hardware fix
rpi-lgpio

# use these on 64-bit platforms for gym compatability
# works on raspberry pi, orangepi zero 2w
torch>=2.0.1; platform_machine=="aarch64"
torchvision>=0.15.2; platform_machine=="aarch64"
stable_baselines3; platform_machine=="aarch64"

# use these on PizeroW because these wheels exist
torch>=2.0.1; platform_machine=="armv6l"
torchvision>=0.15.2; platform_machine=="armv6l"
stable_baselines3==1.8.0; platform_machine=="armv6l"

torch==2.1.0a0+git7bcf7da; platform_machine=="armv7l"
torchvision>=0.16.0; platform_machine=="armv7l"
stable_baselines3==1.8.0; platform_machine=="armv7l"

# bananapi has no torch yet, so just skip them


# Bananapi version of RPi.GPIO
#git+https://github.com/BPI-SINOVOIP/RPi.GPIO#egg=RPi.GPIO ; platform_release=="6.1.63"

RPi.GPIO; platform_release=="6.1.21"
RPi.GPIO; platform_release=="6.1.21"

# OPi.GPIO is orange pi version of RPi.GPIO
# symlink to RPi.GPIO for pretty seamless replacement
#git+https://github.com/Sniffleupagus/OPi.GPIO@BOARD-and-BCM-to-sunxi-numbers#egg=OPi.GPIO ; platform_release=="6.1.31-sun50iw9"

#git+https://github.com/Sniffleupagus/OPi.GPIO@BPIm4zero#egg=OPi.GPIO ; platform_release=="6.1.31-sun50iw9"

rpi_hardware_pwm; platform_release=="6.1.21"
